{% extends "base_generic.html" %}

{% block content %}
<br>
<div class="container">
  <div class="jumbotron text-white font-italic text-center" style="background-color:#17a2b8" >
    <h1>Tienda Harkov</h1>      
    <p>Venta de juegos de forma digitales en diferentes plataformas a un precio economico.</p>
  </div>     
</div>

<div class="container">
  {% if user.is_authenticated %}
  <h3 class="page-section-heading text-uppercase text-secondary mb-0" >Hola! {{ user.username }}</h3>
 
{% else %}
  <p class="page-section-heading text-uppercase text-secondary mb-0" >No haz iniciado sesion</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
  <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li> 
  <br>




    
    <div id="carousel1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
        <li data-target="#carousel1" data-slide-to="3"></li>
        <li data-target="#carousel1" data-slide-to="4"></li>
      </ol>
      <!-- diapositivas -->
      <div class="carousel-inner">
        <div class="carousel-item active">
            {% load static %}
          <img class="d-block w-100" src="{% static 'img/red.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>Juegos Destacados</h3>
              <p>Los mas vendidos.</p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}
            <img class="d-block w-100" src="{% static 'img/fall.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>Juegos Destacados</h3>
              <p>Los mas vendidos.</p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}
            <img class="d-block w-100" src="{% static 'img/among.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>Juegos Destacados</h3>
              <p>Los mas vendidos.</p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}
            <img class="d-block w-100" src="{% static 'img/rust.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>Juegos Destacados</h3>
              <p>Los mas vendidos.</p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}
            <img class="d-block w-100" src="{% static 'img/New.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>Juegos Destacados</h3>
              <p>Los mas vendidos.</p>
            </div>
        </div>
      </div>
      <!-- botones de desplazamiento a izquierda y derecha -->      
      <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only bg-info">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel1" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<br>
<div class="container">
    <h2 class="page-section-heading text-uppercase text-secondary mb-0"> Video Juegos </h2>
    <ul>
        <li><strong class="page-section-heading text-uppercase text-secondary mb-0">Cantidad de Juegos en la Tienda: </strong> {{num_juegos}} </li>
    </ul>
  


</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}